/Lab1Bai1/dist/
/Lab1Bai2/nbproject/private/
/Lab1Bai2/build/
/LabBai3/nbproject/private/
/LabBai3/build/
/Lab1Bai4/nbproject/private/
/Lab1Bai4/build/
/TH0904-DSSV/nbproject/private/
/TH0904-DSSV/build/
/TH0904-DSSV/dist/
/DemoJListJCombo1104/nbproject/private/
/TinhTien/build/
/TinhTien/nbproject/private/
/GiaPTBac2/build/
/GiaPTBac2/nbproject/private/
/70TinhTien/build/
/70TinhTien/nbproject/private/